
.requestWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}
.chart{
  display: flex;
  align-items: center;
}

.bar{
  margin:2px 0 5px 0;
  background: lightgreen;
  transition: width .4s;
  padding: 5px;

  &:hover{
    background: darken(lightgreen, 7%);
    cursor: pointer;
  }
}

.key{
  overflow: hidden;
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.8em;
}

.count{
  font-size: 0.8em;
  padding-left: 4px;
}

.info{
  margin-top: 10px;
}
